@layout('layouts.app')




@section('content')

    

<div id="main">

  <!-- Post -->
    <section class="post">
      <header class="major">
       
        <h1>This is a<br />
        404 Page</h1>
       <h3><a href="/">Return back home</a></h3>
      </header>
      <div class="image main"><img src="images/pic01.jpg" alt="" /></div>
      
      
    </section>

</div> 

   

@endsection